
<!DOCTYPE html>
{% load static %}

<html lang="en">
    <head>
        <meta charset="UTF-8">
        <link rel="stylesheet" href="{% static 'css/base.css' %}">
        <link rel="stylesheet" href="{% static 'css/home.css' %}" >
        {% block head %} {% endblock head %}

        <title>ACS Essex</title>
    </head>
    <body>
        <header>
            <a href="{% url 'home' %}">Home</a> |
            <a href="{% url 'about' %}">About</a> |
            <a href="{% url 'post_list' %}">Blog</a>
        </header>

          {% block content %}{% endblock %}

    </body>
</html>